@media screen and (max-width: 1200px) {
  .cta {
    flex-direction: column;
    text-align: center;
  }
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 50%;
    padding: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-1 {
    height: auto;
  }

  .faq {
    flex-direction: column;
  }

  .faq-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
  }

  .faq-right {
    margin-top: 40px;
    padding: 0;
  }

  .faq .right-content {
    order: -1;
  }

  .right-content h2 {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .faq-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
  }

  .section-1 .section-image {
    height: 200px;
    width: 250px;
  }

  .faq-left {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
  }

  .faq-left,
  .faq-right {
    width: 100%;
  }

  .faq-left h3 {
    margin-top: 0;
    font-size: 24px;
  }

  .faq-left p {
    font-size: 14px;
  }

  .faq-right ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
  }

  .faq-right ul li {
    margin-bottom: 10px;
  }

  .faq-right ul li a {
    text-decoration: underline;
    color: #0d6ede;
    font-weight: 500;
    font-size: 14px;
    padding: 0;
  }

  .faq-right button {
    font-size: 14px;
  }
}

.faq-right button {
  background-color: #0d6ede;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 580px) {
  .faq-right ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
  }

  .faq-right ul li {
    margin-bottom: 10px;
  }

  .faq-right ul li a {
    font-size: 12px;
  }

  .cta div img {
    height: 200px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 26px #00000051;
  }
  .section-1 h2 {
    font-size: 32px;
  }

  .section-1 .section-image {
    display: none;
  }

  footer .redes-sociais a img {
    width: 30px;
    height: 30px;
  }
  footer .redes-sociais a {
    width: 32px;
    height: 32px;
  }

  footer .logo {
    max-width: 100px;
    display: block;
  }

  footer .faixa .left {
    font-size: 12px;
  }
  footer .faixa .right a {
    font-size: 12px;
  }
}

.custom-section {
  width: 100%;
  padding: 50px 0;
  color: #fff;
  text-align: center;
}

.custom-section .container {
  width: 80%;
  margin: 0 auto;
}

.custom-section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.custom-section p {
  font-size: 1.2em;
  line-height: 1.5em;
  max-width: 800px;
  margin: 0 auto;
}

.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 34px;
  background: linear-gradient(45deg, #5b49fc, #100952);
  height: 434px; /* Adicione esta linha para ajuste de altura */
}

.section-1 .container-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-1 .left-content {
  flex: 1;
  text-align: center;
}

.section-1 .right-content {
  flex: 1;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-1 .section-image {
  height: 400px;
  max-width: 100%;
}

.section-1 h2 {
  color: #ffffff;
  text-shadow: 0px 8px 24px #00000051;
  font-size: 48px;
  font-weight: 500;
  margin: 0;
}

.section-1 .buttons a {
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .section-1 {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }
  .section-1 .container-2 {
    flex-direction: column;
  }
  .section-1 .left-content,
  .section-1 .right-content {
    width: 100%;
    text-align: center;
  }
  .section-1 .section-image {
    height: auto;
    width: 100%;
    margin-bottom: 20px;
  }
  .section-1 h2 {
    font-size: 36px;
  }
}

@media screen and (max-width: 580px) {
  .section-1 h2 {
    font-size: 32px;
  }
  .section-1 .section-image {
    display: none;
  }
}
