@media screen and (max-width: 1200px) {
  .profile-menu {
    width: 80%;
  }

  .profile-menu .profiles-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-menu .profiles-wrapper .profile-card .profile-image img {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 680px) {
  .profile-menu {
    width: 90%;
    padding: 20px;
  }

  .profile-menu .profiles-wrapper .profile-card .profile-image img {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 580px) {
  .profile-menu {
    width: 95%;
    padding: 10px;
  }

  .profile-menu .profiles-wrapper .profile-card .profile-image img {
    width: 130px;
    height: 130px;
  }
}
